.poster-man {
  position: relative;
  width: 800px;
  height: 270px;
  margin: 0 auto;
}

.poster-list {
  width: 800px;
  height: 270px;
}

.poster-item {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
}

.poster-img {
  /* 防止 a 标签中的 img 有一个 5像素的 padding */
  display: block;
}

.poster-btn {
  /* 防止被图片遮挡 */
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100px;
  height: 270px;
  background-color: blue;
}

.poster-prevbtn {
  left: 0;
  
}

.poster-nextbtn {
  right: 0;
}
