#main {
  /* 相对于 main 来进行定位 */
  position: relative;
}

/* #main::after {
  content:'';
  display: table;
  clear: both
} */

/* @supports(display:flow-root) {
  #main{ 
    display: flow-root; 
  } 
  #main::after{ 
    content:none; 
  } 
} */

.box {
  /* JS offheight 不能获取 margin 所以用 padding */
  padding: 15px 0 0 15px;
  float: left;
}

.pic {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.pic img {
  width: 180px;
  height: auto;
}