* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; 
}

.wrapper {
  height: 100%;
  overflow: hidden;
  font-family: helvetica, Arial, "Hiragino Sans GB","Microsoft YaHei", simsun;
  font-size: 14px;
  line-height: 1.2;
  color: #595959;
}
.carousel-btns {
  position: fixed;
  height: 100%;
  width: 50px;
  left: 0;
  top: 0;
  z-index: 2;
}
.carousel-btns ul {
  position: absolute;
  top: 50%;
  left: 50%;
  list-style-type: none;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.carousel-btns li {
  margin: 10px 0;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #d2d4d6;
  cursor: pointer;
}

.carousel-btns li.active {
  border: 4px solid #f95e58;
  background-color: #fff;
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}

.carousel, .page {
  position: relative;
  overflow: hidden;    
}

.page-1 .bg, .page-1 .bg2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-1 .bg {
height: 100%;
}

.page-1 .bg2 {
height: 255px;
}

.page-1 .logoleft {
height: 47px;
width: 47px;
position: absolute;
left: 40px;
top: 14px;
}

.page-1 .logoright {
height: 32px;
width: 94px;
position: absolute;
left: 102px;
top: 22px;
}

.page-1 .standard-content {
  width: 890px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.standard-content * {
  opacity: 1;
  transform: translate(0);
  position: absolute;
  transition-property: transform,opacity;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

.page-1 .i1 {
  left: 295px;
  bottom: 404px;
  height: 405px;
  width: 679px;
}

.page-1 .i4 {
  left: -298px;
  bottom: 0px;
  height: 831px;
  width: 927px;
}

.page-1 .i3 {
  left: 739px;
  bottom: 300px;
  height: 58px;
  width: 196px;
  cursor: pointer;
}

.page-1 .i2 {
  left: 519px;
  bottom: 300px;
  height: 58px;
  width: 196px;
  cursor: pointer;
}

.page-1 .arrow {
  left: 429px;
  bottom: 36px;
  height: 30px;
  width: 32px;
  animation: guide-arrow 2s 0ms infinite;
} 

@keyframes guide-arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.page0 {
  background-color: yellow;
}

.page1 {
  background-color: red;
}

.page2 {
  background-color: green;
}

.page3 {
  background-color: orange;
}